apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ CLUSTER_CERTIFICATE_AUTHORITY_DATA }}
    server: https://172.100.0.253:16443
  name: microk8s-cluster
contexts:
- context:
    cluster: microk8s-cluster
    user: admin
  name: microk8s
current-context: microk8s
kind: Config
preferences: {}
users:
- name: admin
  user:
    client-certificate-data: {{ CLIENT_CERTIFICATE_DATA }}
    client-key-data: {{ CLIENT_KEY_DATA }}